:root {
  --primari-font-family: 'Montserrat', sans-serif;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;  btn get start */

* {
  transition: all 0.1s ease-in;
}

html {
  font-family: 'Montserrat', sans-serif;
}

[class*='container'] {
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper {
  /* position: relative; */
  padding-top: 20px;
  padding-bottom: 50px;
}

/* -----header----- */

.header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  margin-bottom: 70px;
}

.nav-list {
  display: flex;
}

.nav-item a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #2f281e;
  margin-right: 20px;
}

.nav-item a:hover {
  color: #ff9900;
}

.nav-item:last-child {
  margin-right: 0;
}

.btn-signIn {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #2f281e;
  width: 110px;
  height: 46px;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  background-color: #ffffff;
}

.btn-signUp {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  width: 110px;
  height: 46px;
  margin-left: 32px;
  background: #ff9900;
  border-radius: 4px;
}

/* -----header end----- */

/* -----main section 1/5----- */

.bg {
  position: absolute;
  left: -120px;
  z-index: -1;
  top: 750px;
}

.first-screen {
  display: flex;
  margin-bottom: 100px;
}

.about {
  width: 50%;
}

.about-title {
  font-style: normal;
  font-size: 44px;
  line-height: 1.23;
  color: #2f281e;
  margin: 97px 56px 30px 0;
}

.about-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #544837;
  margin-right: 56px;
  margin-bottom: 20px;
}

.about-btn {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  background: #ff9900;
  border-radius: 4px;
  width: 180px;
  height: 50px;
}

/* -----end main section 1/5----- */

/* -----main section 2/5----- */

.features {
  margin-bottom: 100px;
}

.features-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #2f281e;
}

.feature-text-cont {
  margin: 0 330px 50px 330px;
}

.features-list {
  display: flex;
}

.features-list {
  margin-bottom: 70px;
}

.features-list li {
  width: 25%;
  margin-right: 40px;
}

.features-list li:last-child {
  margin-right: 0;
}

.features-icon {
  display: flex;
  text-align: center;
  margin-bottom: 30px;
}

.fa-arrow-pointer,
.fa-stumbleupon,
.fa-heart,
.fa-hourglass {
  padding-top: 16px;
  width: 50px;
  height: 34px;
  border-radius: 15px;
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.fa-arrow-pointer {
  background: #7752be;
}
.fa-stumbleupon {
  background: #fab005;
}

.fa-heart {
  background: #f03e3d;
}

.fa-hourglass {
  background: #4dadf7;
}

.features-list-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #2f281e;
  margin-bottom: 16px;
}

.features-list-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #544837;
}

.signupnow {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background: #ff9900;
  border-radius: 4px;
  width: 180px;
  height: 50px;
  margin: 0 510px 75px 510px;
}

div[class='container'] {
  position: relative;
}

/* -----end main section 2/5----- */

/* -----main section 3/5 -----*/

.benefits {
  display: flex;
  margin-bottom: 100px;
}

.benefits-content {
  width: 50%;
  margin: 21px 113px 21px 0;
}

.benefits-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #544837;
}

.benefits-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #2f281e;
  margin-bottom: 20px;
}

.benefits-about {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #544837;
  margin-bottom: 40px;
}

.benefits-list-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #2f281e;
  margin-bottom: 10px;
}

.benefits-list-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #544837;
  margin-bottom: 30px;
}

/* -----end main section 3/5 -----*/

/* -----main section 4/5 -----*/

.product {
  display: flex;
  margin-bottom: 100px;
}

.product-content {
  width: 50%;
  margin: 48px 0 48px 125px;
}

.product-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #544837;
}

.product-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #2f281e;
  margin-bottom: 20px;
}

.product-about {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #544837;
  margin-bottom: 40px;
}

.product-item {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  align-items: baseline;
}

.product-item::before {
  content: url(../img/check.svg);
  display: block;
  float: left;
  width: 35px;
  height: 35px;
  margin-right: 30px;
  padding-top: 8px;
  padding-bottom: 9px;
}

.product-list {
  position: relative;
}

.fa-square-check {
  color: #ff9900;
}

ul li.product-item {
  margin-bottom: 30px;
}

/* -----end main section 4/5 -----*/

/* -----main section 5/5 -----*/

.marketers {
  display: flex;
  margin-bottom: 100px;
}

.marketers-content {
  width: 50%;
  margin: 40px 175px 40px 0;
}

.marketers-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #544837;
}

.marketers-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #2f281e;
  margin-bottom: 20px;
}

.marketers-about {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #544837;
  margin-bottom: 40px;
}

.marketers-list-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #2f281e;
  margin-bottom: 12px;
}

.marketers-list-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #544837;
  margin-bottom: 30px;
}

/* -----end main section 5/5 -----*/

hr {
  height: 1px;
  background: rgb(188, 208, 229);
  opacity: 0.5;
}

/* -----footer----- */

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

input {
  width: 100%;
  height: 50px;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  width: 25%;
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 500;
  src: local('Gotham'), url('https://fonts.cdnfonts.com/s/14898/GothamMedium_1.woff') format('woff');
}

.footer-nav-title {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #2f281e;
  margin-bottom: 30px;
}

.footer-nav-link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #544837;
  margin-bottom: 15px;
}

.footer-nav-link:last-child {
  margin-bottom: 0;
}

.legal-title {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #2f281e;
  margin-bottom: 30px;
}

.legal-link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #544837;
  margin-bottom: 15px;
}

.legal-link:last-child {
  margin-bottom: 0;
}

.footer-form-title {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #2f281e;
  margin-bottom: 25px;
}

#phone-number {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #544837;
}

.footer-btn {
  width: 50%;
  height: 50px;
  margin-top: 25px;
  background: #ff9900;
  border-radius: 4px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #544837;
}
